body {
    font-family: 'Roboto Mono',monospace;
    min-height: 300px;
    background-image: url(boneco.gif);
    background-color: #d4f0f5;
    background-size: 70vh;
    background-position: center bottom;
    background-repeat: no-repeat;
  }
  
  .container {
    text-align: center;
    padding: 20px;
    height: 100vh;
  }
  
  .page-title {
    color:#000000;
    margin: 0 0 5px;
    text-transform: uppercase;
    padding: 0.5%;
    text-decoration: none;
    letter-spacing: 3px;
  }
  
  .page-subtitle {
    color:#000000;
    margin-top: 5px;
    font-size: larger;
  }
 
  .imgCalculadora {
    width: 60px;
    position: absolute;
    top: 10px;
    right: 30px;
  }